<mat-toolbar color="primary" id="navbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click) = "onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="space-between end">
      <div>
        <a routerLink="/" style="font-size: 24px; text-decoration: none; color: rgba(233, 237, 240, 0.74);">
          <img src="https://storage.googleapis.com/doc_sourcefiles/ico/icons8-ios-photos-50.png" style="padding-bottom: 4px;" /> Well-being Times
        </a>
      </div>

      <div class="container" [fxHide.xs]="true">
        <ul>
          <li><a mat-button [routerLink]="['/']">Home</a></li>
          <li><a mat-button [routerLink]="['/news']">News</a></li>
          <li><a mat-button [routerLink]="['/drugs']">Drugs</a></li>
          <li><a mat-button [routerLink]="['/trails']">Trials</a></li>
        </ul>
      </div>
      <div style="position: relative;
      bottom: 27px;
      right: 21px;">
        <td *ngIf="!cookieIndicator"><span class ="dot dot-red"></span></td>
        <td *ngIf="cookieIndicator"><span class ="dot dot-green"></span></td>
      </div>
      <button mat-raised-button color="accent" style="bottom: 29px;" (click)="clearDocereeCookies()">Clear cookie</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
